/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db

.idea/workspace.xml

.idea/encodings.xml

.idea/fetch.iml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

*.xml
